body:not([data-status='loaded']) {
  display: none;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.aem-metadata {
  display: none;
}

/* Debug */
.aem-block[data-block-status='loading'] {
  outline: 2px dashed yellow;
}

.aem-block[data-block-status='loaded'] {
  outline: 2px dashed green;
  outline-offset: -2px;
}
