:root {
  --color-primary: red;
}

body:not([data-status='loaded']) {
  display: none;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

picture img {
  max-width: 100%;
  height: auto;
}

.style--highlight {
  background: #e6e6e6;
}

.aem-metadata {
  display: none;
}

/* Debug */
.aem-block[data-block-status='loading'] {
  background: lightyellow;
}

.aem-block[data-block-status='loaded'] {
  background: lightgreen;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
